/**
    * @name Darkcord
    * @version 2.0
    * @description It's dark here
    * @author trep__
**/

@import url('https://imtrep.github.io/Darkcord/Darkcord.css');

:root {
  --spacing: 10px;
  --roundess: 12px;
  --background-3: rgb(27, 28, 30);
  --background-2: rgb(6, 5, 7);
  --background-1: rgb(17, 18, 20);
  --bg-overlay-selected: rgb(27, 28, 30);
}
